@font-face {
    font-family: "Public Sans menu";
    src: url('./Fonte/static/PublicSans-Medium.ttf');
}

@font-face {
    font-family: "Public Sans Logo";
    src: url("./Fonte/static/PublicSans-ExtraBold.ttf");
}

.cabecalho {
    font-size: 15px;
    /* min-width: 500px;
    max-width: none; */
    /* transform: translateY(-20%); */

}

.cabecalho .titulo {
    display: inline-block;
    right: 10px;
    position: relative;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 15px;
    font-family: "Public Sans Logo";
    vertical-align: middle;
}

.cabecalho nav {
    float: right;
    position: relative;
    right: 20px;
    font-family: "Public Sans menu";

}

.cabecalho nav li {
    display: inline-block;
}

.cabecalho a {
    color: #000;
    padding: 10px;
    vertical-align: middle;
}

a:hover {
    background-color: #5BC241;
    color: white;
}

a:link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

a:active {
    color:white
}

a:visited {
    color: none;
}

.cabecalho .cadastro {
    display: inline-block;
    background-color: #5BC241;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 10px;
}

.cabecalho img {
    width: auto;
    height: 40px;
    top: 15px;
    position: relative;
    float: left;
    vertical-align: middle;
}

@media (max-width: 375px) {
    .cabecalho .titulo {
        display: block;
        margin: 0 auto;
        right: 0%;
        text-align: center;
        top: 44px;
        font-size: 40px;
    }

    .cabecalho img {
        display: inline-block;
        top: 87px;
        float: none;
        margin: 0 auto;
        left: 11%;
    }

    .cabecalho .cadastro {
        display: block;
        top: 20px;
        position: relative;
        margin: 0 auto;
        width: 35%;
        font-size: 15px;
    }

    .cabecalho nav {
        display: block;
        text-align: center;
        float: none;
        position: relative;
        margin: 0 auto;
        top: 100px;
    }

    .cabecalho nav li {
        display: block;
        text-align: center;
        float: none;
        padding: 20px;
        /* font-size: 40px; */
    }

    .cabecalho nav li a {
        font-size: 40px;
    }
}