@font-face {
    font-family: "Public Sans Subtitulo";
    src: url("./Fonte/static/PublicSans-Light.ttf");
}

@font-face {
    font-family: "Public Sans Titulo";
    src: url("./Fonte/static/PublicSans-Bold.ttf");
}

.titulo {
    position: relative;
    top: 300px;
    float: left;
    font-size: 30px;
    font-family: "Public Sans Titulo";
    left: 300px;
}

.subtitulo {
    float: left;
    position: relative;
    top: 320px;
    font-size: 20px;
    font-family: "Public Sans Subtitulo";
    margin: 95px;
    right: 80px;
}

.imagem {
    width: 60%;
    position: relative;
    float: right;
    height: 384px;
    top: 10px;
}

.cadastro {
    position: relative;
    float: left;
    top: 280px;
    left: 305px;
    font-size: 15px;
    font-family: "Public Sans Subtitulo";
    background-color: #5BC241;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 10px;
}

@media (max-width: 375px) {
    .titulo {
        display: block;
        position: relative;
        float: none;
        text-align: center;
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .subtitulo {
        width: 375px;
        display: block;
        float: none;
        text-align: center;
        top: 60px;
        right: 15px;
        margin: 0;

    }

    .imagem {    
        display: block;
        width: 306px;
        position: relative;
        float: none;
        height: 127px;
        top: 100px;
        margin: 0 auto;
    }

    .cadastro {
        display: block;
        position: relative;
        float: none;
        width: 221px;
        height: 73px;
        text-align: center;
        top: 150px;
        left: 0;
        margin: 0 auto;
    }


}